/* .img {
  min-height: 300px;
  max-width: 300px;
  border: 1px solid;
  margin: auto;
  background-image: url("https://i.pinimg.com/originals/9c/59/e4/9c59e4d40d1045d6a4a56b62427e0639.png");
  background-size: contain;
  margin-top: 100px;
}

.img:hover {
  animation: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
